/Backend__Node-GraphQL/coalesce/node_modules
/Backend__Node-GraphQL/coalesce/images/banner
/Backend__Node-GraphQL/coalesce/images/pfp
/Backend__Node-GraphQL/coalesce/images/posts
/Backend__Node-GraphQL/coalesce/.env
/Backend__Node-GraphQL/coalesce/nodemon.json
/Frontend__React/coalesce/node_modules
/Frontend__React/coalesce/screenshots
/Frontend__React/coalesce/.env
/WebSocket__Socket.io/coalesce/node_modules
/WebSocket__Socket.io/coalesce/.env
/WebSocket__Socket.io/coalesce/nodemon.json
