.new-post-wrapper {
  padding: 10px 1rem;
  color: #e4e6eb;
  border-top: 1px solid #2f3338;
  cursor: pointer;
}

.box {
  display: flex;
  justify-content: flex-start;
}

.content {
  position: relative;
  margin-left: 1rem;
  border-radius: 22px;
  height: 42px;
  flex: 1 0 42px;
  text-align: center;
  background: #2b2b2c;
}

.content > span {
  position: absolute;
  transform: translate(-60%, 40%);
}

.images {
  border-top: 1px solid rgba(148, 150, 154, 0.3);
  margin-top: 10px;
  padding: 8px 4px 0 4px;
  text-align: center;
}

.images:hover {
  color: #276fce;
}

.space {
  height: 13px;
  background: #15181c;
  border-top: 1px solid #2f3338;
}
