.chats-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  height: 100%;
  flex: 0 0 300px;
  padding-right: 10px;
  border-right: 1px solid #2f3338;
}

.header {
  font-size: 20px;
  border-bottom: 3px solid rgb(0, 183, 255);
  font-weight: 700;
  padding: 12px 0;
}

.convo-wrapper {
  margin-top: 2rem;
}

.conversation {
  display: flex;
  align-items: center;
  margin: 4px auto;
  border: 1px solid #2f3338;
  padding: 8px;
  cursor: pointer;
}

.conversation:hover {
  background: rgba(66, 66, 66, 0.4);
}

.conversation > div:first-child {
  margin-right: 12px;
}

.conversation > div:last-child {
  font-size: 15px;
}

.conversation > div:last-child span:last-child {
  font-size: 14px;
  color: #6e767d;
}
